.background {
    background: url('https://wallpaperaccess.com/full/3057721.jpg') center/cover; 
    position: absolute;
    opacity: 8%;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: -1; 
  }
  .breed-info-container {
    max-width: 800px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .breed-info-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .breed-info-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Arial;
  }
  
  .breed-info-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial;
  }
  
  .breed-description {
    font-style: italic;
  }
  
  .breed-origin::before {
    content: "Origin: ";
    font-weight: bold;
  }
  
  .breed-temperament::before {
    content: "Temperament: ";
    font-weight: bold;
  }
  
  .breed-life-span::before {
    content: "Life Span: ";
    font-weight: bold;
  }
  