.background {
    background: url('https://wallpaperaccess.com/full/3057721.jpg') center/cover; 
    position: absolute;
    opacity: 8%;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: -1; 
  }

p {
    padding: 0;
    margin: 0;
  }
  
  .containerTop {
    display: flex;
    overflow: auto;
    padding-bottom: 10px;
  }
  
  .breed-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .cat-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: center;
    align-content: center; 
    padding-bottom: 100px;
    font-family: Arial;
  }
  
  .breedButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: Arial;
  }

  h2 {
    font-family: Arial;
  }