.containerBig { padding: 10px;
}

.posterBig { width: 220px; height: 280px;
border-radius: 2px; border-radius: 10px; 
}

.descriptionBig { display: flex;
justify-content: space-between; align-items: center;
}

.containerBig:hover .posterBig {
    transform: scale(1.1);
  }

  .catFunFactModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .catFunFactContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    justify-content: center;
  }
  
  .catFunFactContent p {
    margin: 0;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }